<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/toastr/toastr.css" />
  <link rel="stylesheet" href="/bower_components/angular-ivh-treeview/dist/ivh-treeview.css" />
  <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.css" />
  <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="/bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
   <link rel="stylesheet" href="style/main.css" />
  <!-- endbuild -->
</head>
<body ng-app="logisticsSupportUiApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div ng-controller="RouterController" class="index">
  <div class="menu">
    <div class="banner">
      <div class="banner-title">
        <span class="fz-26 color-white" style="margin-left: 40px;line-height: 65px"></span>
        <span class="fz-18 color-white" style="margin-left: 10px;line-height: 65px"></span>
      </div>
    </div>
    <div class="user">
      <div class="fl" style="margin-left: 40px;margin-top: 20px"><img src="images/index/avatar.jpg"
                                                                      style="width: 30px;height:30px; border-radius: 13px">
      </div>
      <div class="fl color-white" style="line-height: 70px;margin-left: 10px">超级管理员</div>
    </div>
  </div>
  <div class="main-content">
    <div class="left-menu">
      <div class="ui accordion  left-menu-height">
        <div ng-repeat="resource in resources">
          <div
            ng-class="{true:'title {{resource.value}} active click',false:'title {{resource.value}}'}[resource.id==resourceActive.parentId || resource.id==resourceActive.id]"
            ng-click="parentClass(resource.id)" id="{{resource.id}}">
            <a ui-sref="{{resource.value}}">
              <i class="home icon"></i>
              &nbsp;&nbsp;{{resource.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
          </div>
          <div
            ng-class="{true:'content {{resource.value}} active click',false:'content {{resource.value}}'}[resource.id==resourceActive.parentId]">
            <div ng-repeat="children in resource.children">
              <div
                ng-class="{true:'title-home {{children.value}} active click',false:'title-home {{children.value}}'}[children.id==resourceActive.id]"
                ng-click="childrenClass(children.id)" id="{{children.id}}">
                <a class="item title-home small-title" ui-sref="{{children.value}}">{{children.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-content">
      <div ui-view></div>
    </div>
  </div>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/toastr/toastr.js"></script>
  <script src="/bower_components/angular-ivh-treeview/dist/ivh-treeview.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/semantic/dist/semantic.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/leaflet/dist/leaflet-src.js"></script>
  <script src="/bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <script src="bower_components/angular-new-router/dist/router.es5.js"></script>
  <script src="bower_components/echarts/build/dist/echarts-all.js"></script>
  <script src="scripts/resource.js"></script>"
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/directives/bar/main.js"></script>
  <script src="scripts/directives/line/main.js"></script>
  <script src="scripts/directives/pie/main.js"></script>
  <script src="scripts/directives/reportMap/main.js"></script>
  <script src="scripts/directives/map/map.js"></script>
  <script src="scripts/services/GeoService.js"></script>
  <script src="scripts/services/MapIconService.js"></script>
  <script src="views/driver/main.js"></script>
  <script src="views/reportView/main.js"></script>
  <script src="views/home/main.js"></script>
  <script src="views/resource/main.js"></script>
  <script src="views/systemAccount/systemAccount.js"></script>
  <script src="views/systemRole/main.js"></script>
  <script src="views/waybill/main.js"></script>
  <script src="scripts/leaflet-baidu.js"></script>
  <script src="http://api.map.baidu.com/api?v=2.0&ak=xDeWUrrwoPsU1nTHMS4MspFj2VVuGXHR"></script>
  <!-- endbuild -->
  <script>
    var baidu_ak = 'xDeWUrrwoPsU1nTHMS4MspFj2VVuGXHR';
    $('.accordion').accordion();
    //改变高度
    $(".left-menu").height($(window).height() - 70);

  </script>
</body>
</html>
