<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/login.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" type="text/css" href="bower_components/semantic/dist/semantic.css">
  <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/login.css -->
  <link rel="stylesheet" href="styles/login.css">
  <!-- endbuild -->
</head>
<body ng-app="logisticsSupportUiApp.login">
<!--[if lte IE 8]>
<![endif]-->

<!-- Add your site or application content here -->
<div ng-controller="LoginController" class="login">
  <div class="login-banner">
    <img src="images/login/login.png" width="100%">
  </div>
  <div class="login-content">
    <div class="login-form">
      <div class="ui form " id="loginFrom">
        <div class="inline field">
          <input ng-model="login.username" type="text" name="username" placeholder="用户名" style="width: 300px">
          <span class="login-icon"><i class="user icon"></i></span>
        </div>
        <div class="inline field" style="margin-top: 20px">
          <input ng-model="login.password" type="password" name="password" placeholder="密码" style="width: 300px">
          <span class="login-icon" style="top: 66px"><i class="lock icon"></i></span>
        </div>
        <div class="inline field" style="margin-top: 20px">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0">
            <label>记住我</label>
          </div>
        </div>
        <div  class="submit button login">
          <button class="ui button login" >登录</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

<!-- build:js(.) scripts/login.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<!-- endbower -->
<script src="bower_components/semantic/dist/semantic.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->

<!-- endbuild -->
<script src="scripts/login.js"></script>
</body>
</html>
