<div ng-controller="ccAccountController">
<div class="ui form">
  <div class="inline fields">
    <div class="six wide field">
      <label>角色:</label>
      <div class="ui search selection dropdown" id="supportStaffMap"
           data-action="lookup role" data-systemtype="cc">
        <input class="prompt" type="hidden"
               ng-model="CCTable.query.roleId" name="roleId">
        <i class="dropdown icon"></i>

        <div class="default text"></div>
      </div>
    </div>
    <div class="three wide field pd-0">
    </div>
    <div class="five wide field">
      <div class="ui search">
        <div class="ui icon input">
          <input type="text" placeholder="输入账号，联系人，电话" style="width: 90%!important;margin-top: 0!important;" ng-model="CCTable.query.searchField">
        </div>
      </div>
      <a><span class="search-btn fl" style="margin-left: -12px" ng-click="supportStaffSearch()">查询</span></a>
    </div>
    <div class="two wide field">
      <a class="cur-po" ng-click="toAddSupportStaff()">
        <div class="search-btn" style="width:110px;border-radius: 5px">新增</div>
      </a>
    </div>
  </div>
</div>
<div style="margin: 20px 0">
  <table class="ui theme fixed striped table mg-0" style="border-bottom: none">
    <thead>
    <tr>
      <th>帐号</th>
      <th>联系人</th>
      <th>联系电话</th>
      <th>账号状态</th>
      <th>工作状态</th>
      <th>角色</th>
      <th>操作</th>
    </tr>
    </thead>
  </table>
  <div id="CCscroll1" class="common2Boxscroll frequentBoxscroll" style="height: 500px">
    <pagination resource="CCTable.resource" items="CCTable.items" load="ccLoad"
                query="CCTable.query"
                container="#CCscroll1">
      <table class="ui theme fixed striped table">
        <tbody>
        <tr ng-repeat="item in CCTable.items">
          <td>
            <span>{{item.accountName}}</span>
          </td>
          <td>
            <span>{{item.realName}}</span>
          </td>
          <td>
            <span>{{item.phone}}</span>
          </td>
          <td>
            <span>{{item.state|enum:'AccountState'}}</span>
          </td>
          <td>
            <span>{{item.workState|enum:'WorkState'}}</span>
          </td>
          <td>
            <span>{{item.roleName}}</span>
          </td>
          <td>
            <div class="ui grid">
              <div class="three column row">
                <div class="column">
                  <a ng-click="resetPassword(item)">
                    <i class="fz-22 cur-po unlock icon color-red1"></i>
                  </a>
                </div>
                <div class="column" ng-click="delete(item)">
                  <a>
                    <i class="fz-22 cur-po minus circle icon color-red1"></i>
                  </a>
                </div>
                <div class="column">
                  <a ng-click="toModify(item)">
                    <i class="fz-22 cur-po edit icon color-red1"></i>
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </pagination>
  </div>
</div>

  <div class="ui modal" style="width: 500px!important; left: 65%;padding-bottom: 20px" id="addSupportStaffModal">
    <div class="views-title">
      <span class="color-red1">{{option}}CC账号</span>
      <span class="actions modal-icon fr">
        <span class="cancel cur-po">
          <img src="../../images/index/delete.png" style="margin-top: 13px;margin-right: 12px">
        </span>
      </span>
    </div>
    <div class="modalContent">
      <div class="ui form" style="padding: 0 39px" id="supportStaffForm">
        <div class="inline fields">
          <label style="width: 80px">账号</label>
          <div class="field">
            <input type="text" ng-model="supportStaff.accountName" name="accountName">
          </div>
        </div>
        <div class="inline fields" >
          <label style="width:80px">角色:</label>
          <div class="field">
            <div class="ui search selection dropdown " id="supportStaffMapAdd"
                 data-action="lookup role" data-systemtype="cc">
              <input type="hidden" class="prompt"
                     ng-model="supportStaff.roleId" name="roleId" >
              <i class="dropdown icon"></i>
              <div class="default text"></div>
            </div>
          </div>

        </div>
        <div class="inline fields">
          <label style="width: 80px">联系人</label>
          <div class="field">
            <input type="text" ng-model="supportStaff.realName" name="realName">
          </div>
        </div>
        <div class="inline field">
          <label style="width: 80px">联系电话</label>
          <input style="margin: 0!important;width: 250px" type="text" ng-model="supportStaff.phone" name="phone">
        </div>
      </div>
    </div>
    <div class="actions" style="background: none;border:none;padding: 0;">
      <div class="approve approve-btn cur-po fr" style="margin-right: 60px" >
        确认
      </div>
    </div>
  </div>

  <delete requestobject="requestobject" callback="callback(callbacktype)"
          message="message"></delete>
</div>
